.left_controls
  = label_tag :project, "Project: "
  = select_tag :project, options_from_collection_for_select(current_user.projects, :id, :name), :prompt => "- Select a Project -"

  #datepicker

  = link_to 'Add Task', '#', :class => "button", :id => "add_task_button"

.right_panel
  = render partial: "calendar"

= render partial: "modal"