.invoice_options
  %ul
    %li
      %span
        Report:
      = select_tag :report_type, options_for_select([["Overall", 1], ["Per Client", 2]])
    %li.invoice_client
      %span
        Client:
      = select_tag :client_id, options_from_collection_for_select(@clients, :id, :name), id: 'invoice_client'
    %li
      %span
        Start Date:
      = date_select :project, :start_date, default: Time.now.beginning_of_month, start_year: Time.now.year - 5, end_year: Time.now.year
    %li
      %span
        End Date:
      = date_select :project, :end_date, default: Time.now.end_of_month, start_year: Time.now.year - 5, end_year: Time.now.year
    %li
      = link_to 'Download', '#', :class => 'button', id: 'download_invoice'
    .clear