<!DOCTYPE html>
<html>
<head>
  <title>Nexdocron</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.js" %>

  <%= yield :head %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Nexdocron</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if can? :read, User %>
            <li id="admin-menu">
              <div>
                <div class="title">
                  Admin Panel
                </div>

                <ul class="submenu">
                  <li><%= link_to 'Clients', admin_clients_path %></li>
                  <li><%= link_to 'Invoices', admin_invoices_path %></li>
                  <li><%= link_to 'Projects', admin_projects_path %></li>
                  <li><%= link_to 'Reports', admin_reports_path %></li>
                  <li><%= link_to 'Users', admin_users_path %></li>
                </ul>
              </div>
            </li>
          <% end %>
          <li><a href="/users/logout" data-method="delete" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
